#ALogo {
    width: 400px;
}

#bio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}


#bioText {
    padding-left: 10px;
}

body {
    background-color: #28282e;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.BodyLink {
    color: rgb(255, 246, 209);
}

#classLists {
    display: flex;
    justify-content: center;
    
}

#classLists ul {
    text-align: left;
}

#CPCB-Sideview{
    display: flex;
    justify-content: center;
}

#CPCB-Specs {
    text-decoration: underline;
    font-weight: 1000;
}

#CustomPCBuildPic {
    width: 400px;
    display: inline;
}

#CustomPCBuildSpecs {
    text-align: left;
    display: block;
}


.Description {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 650px;
}

.Divider{
    background-color: rgb(72, 72, 77);
}

#FileServerPic {
    height: 450px;
}

footer {
    background-color: #1B222C;
    padding-bottom: 100px;
    margin-top: auto;
    text-align: left;
    text-justify: auto;
}

footer ul {
    list-style: none;
}

#footerLinks li a {
    color: antiquewhite;
}

header {
    text-align: center;
    background-color: #161b22;
}


#intro {
    width: 650px;
}

#ITFLogo {
    width: 400px;
}

/*used for project div linking*/
.link-spanner {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }


#macroPi {
    justify-content: center;
}

#macroPiPic {
    height: 400px;
    width: auto;
}

nav {
    background-color: #1f2836;
}

nav li {
    display: inline;
}

nav a {
    color: rgb(255, 246, 209);
}

#profilePic {
    height: 400px;
    display: inline-block;
}

/* Styling project links */
.project {
    width:400px;
    height:200px;
    background-color:black;
    color:white;
    position:relative;
    margin-right: 20px;
    margin-bottom: 30px;
}

.projectLinks {
    color: rgb(235, 208, 151);
}

#ProjectsList div {
    float: left;
}

#ProjectsList ul li {
    list-style: none;
}

.ProjectThumbnail {
    height: 200px;
    width: 400px;
}

#RootedPhonePic {
    height: 400px;
}


#SLD-Client-Examples {
    width: 400px;
}

#SLD-content-center {
    display: inline-block;
    justify-content: center;
}

#SLD-gapcreator {
    margin-right: 100px;
}

#SLD-SoftwareList {
    text-align: left;
    display: inline-block;
}

#SLD-Sideview {
    margin-top: 30px;
    display: flex;
    justify-content:center;
}

#SLD-Sideview-Description {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: left;
    
}

#SLD-titlefix{
    text-align: center;
}

#SmartLightDemoVideo {
    height: 400px;
}

#SLD-VideoandDesc {
    display: inline-block;
    width: 600px
}

#SLD-Video-Description {
    width: 400px;

}

